[if $solution == 1]
.info_bg { background-color:#ccc; padding:1em; }
[/if]
[if $solution == 2]
.info_bg { background-color:lightgreen; padding:1em;}
[/if]
[if $solution == 3]
.info_bg { background-color:lightblue; padding:1em; }
[/if]
[if $solution == 4]
.info_bg { background-color:pink; padding:1em;}
[/if]