.info_bg { background-color:#ccc; height:100px; overflow-y: scroll; padding:6px;}
[if $solution == 1]
.info_bg { background-color:lightgreen;}
[/if]
[if $solution == 2]
.info_bg { background-color:lightyellow; color:darkgreen; }
[/if]
[if $solution == 3]
.info_bg { background-color:lightblue; }
[/if]
[if $solution == 4]
.info_bg { background-color:pink;}
[/if]
