
<div class="container">
	<div class = "row">
		<div class="info_bg">
			<h2 class="niu">朝鲜数学天才"脱北"始末 抓住出国比赛的最后机会(图)AA</h2>

			<p>
				对任何想脱离朝鲜政权的人来说，“叛逃”的风险极高，本月在马来西亚遇刺的金正男就说明了这点。2012年一份针对朝鲜的人权报告显示，
				“脱北者”被遣返朝鲜后通常会面临长年监禁，不少人在集中营中惨死。
			</p>
			<p>
				但钟由日还是干了，去年7月17日，在国际奥数比赛后的第二天，他悄悄溜出位于赛事举办地香港理工大学的宿舍，打车前往香港机场。
				一位外交人士透露，在前往香港参赛前，钟由日在朝鲜就已设计好了此次逃脱。
			</p>
			<p>
				钟由日把自己的计划告诉了他的父亲，一位朝鲜南部的中学数学老师。尽管面临着被遣返的风险，钟由日的父亲还是支持儿子的计划，
				并且给了他大约200美元的外汇。2014年和2015年，钟由日分别赴南非开普敦和泰国清迈参加世界奥数竞赛时，看到了朝鲜以外的世界。
				此外，他在朝鲜的家中，也能收到微弱的、来自韩国的电视信号。
			</p>
			<p>
				“当他走进韩国领馆时，所有工作人员都被他的勇气震惊了。”一位外交人士感慨道，他们同时也担忧钟由日父母的安全。
			</p>		
			
			
				<div class="dropdown">
				  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					Dropdown--
					<span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenu1">
					<li><a href="#">AAA</a></li>
					<li><a href="#">BBB</a></li>
					<li><a href="#">CCC</a></li>  
				  </ul>
				</div>	

				<qalet></qalet>

			[$lang]	
		</div>
	</div>
</div>
