<div class="container-fluid">
	<div class = "row">
		<div class="info_bg">
			<h2 class="niu">测试样本：这个画面可能预示了火星有生命</h2>
			<p>
				原本打算今天吃火锅，拿出一包羊肉片化冻。临时又不打算吃火锅了，
				又不能回冻，就想着做点什么它用呢？想起餐厅里吃的孜然炒羊肉了。家里正好还有一些香菜，那就复制一个。简单又美味！
					<div class = "text-center">
						<img data-ratio="1.4953271" data-w="640" 
						src="http://img.xiumi.us/xmi/ua/8Nh5/i/8722d43b5d26300f567ecdebfcebd32a-sz_437518.JPG@1l_640w.jpg" 
						style="max-width: 100%; vertical-align: middle; box-sizing: border-box;" alt="">
					</div>		
			</p>
			<hr/>
		</div>
	</div>
</div>
