<div class="container-fluid">
	<div class = "row info_bg" [if $doc.title || $doc.error]style="display:none"[/if]>
          [foreach from=$list item=item]
               <div class="col-lg-6 col-md-6 col-sm-12 col-sx-12">
		       <a href="JavaScript:void(0)" data="[$item.href]" target="_blank">[$item.text]</a></div>
          [/foreach]
     </div>          
</div>  
<div class="container-fluid">
	<a type="btn btn-success pull-right" href="JavaScript:void(0)">exit</a>
	<div class = "row doc_show" [if (!$doc)]style="display:none"[/if]>
		[if $doc.error]
			[$doc.error]
		[else]
			[$doc.title]
			<br/>
			[$doc.body]
		[/if]
     </div>          
</div>  